@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* optional base styles */
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgb(17 24 39);
    /* gray-800 */
    background-color: rgb(249 250 251);
    /* gray-50 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* example body rule to confirm dark mode works */
body {
    @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100 transition-colors;
}